@font-face {
  font-family: ruby;
  src: url(fonts/Cold\ Warm.otf);
}
.effort {
  position: relative;
  width: 400px;
  height: 600px;
}

.effort > h1 {
  text-decoration: underline;
  cursor: pointer;
  font-family: ruby;
}

.effort > h1:hover + .box1 {
  animation: box1 2s ease 1 forwards;
}
.effort > h1:hover + .box1 + .box2 {
  animation: box2 3s ease 1 forwards;
}
.effort > h1:hover + .box1 + .box2 + .box3 {
  animation: box3 1s ease 1 forwards;
}
.effort > h1:hover + .box1 + .box2 + .box3 + .box4 {
  animation: box4 1s ease 1 forwards;
}

.box1 {
  width: 80px;
  height: 0px;
  position: absolute;
  /* transform: translateY(-50%); */
  top: 0%;
  left: 0;
  background-color: #e1631a;
}

@keyframes box1 {
  from {
    background-color: #e1631a;
    top: 0%;
  }
  to {
    top: 0%;
    height: 100px;
  }
}

.box2 {
  width: 80px;
  height: 0px;
  position: absolute;
  /* transform: translateY(50%); */
  bottom: 0%;
  right: 0;
  background-color: #e1631a;
}

@keyframes box2 {
  from {
    background-color: #e1631a;
    bottom: 0%;
  }
  to {
    bottom: 0%;
    height: 100px;
  }
}

.box3 {
  width: 50%;
  height: 0px;
  position: absolute;
  transform: translateY(50%);
  bottom: 0%;
  right: 0;
  background-color: #e1631a;
}

@keyframes box3 {
  from {
    background-color: #e1631a;
    bottom: 0%;
  }
  to {
    bottom: 50%;
    height: 100px;
  }
}
.box4 {
  width: 50%;
  height: 0px;
  position: absolute;
  transform: translateY(-50%);
  top: 0%;
  left: 0;
  background-color: #e1631a;
}

@keyframes box4 {
  from {
    background-color: #e1631a;
    top: 0%;
  }
  to {
    top: 50%;
    height: 100px;
  }
}
