.btn {
    margin: 200px auto;
    width: 300px;
    text-transform: uppercase;
    color: #666B6C;
    font-size: 3em;
    border: solid 1px black;
    text-align: center;
    padding: 20px;
    position: relative;
}



.btn::after {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #333333;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    transition: all  2s linear;
}
.btn::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #333333;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: all  2s linear;
}
.btn:hover:before , .btn:hover::after {
    width: 50%;
    transition: all  2s linear;
}